header {
	background-color: #333;
	color: #fff;
	padding: 25px;
}
header h1 {
	margin: 0;
	font-size: 34px;
}
header nav {
	float: right;
}
header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
header nav li {
	display: inline-block;
	margin-left: 20px;
    margin-bottom: 10px;
}
header nav a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

/* Estilos para el cuerpo */
main {
	margin: 20px;
}
main h2 {
	margin-top: 0;
}
main p {
	margin-top: 10px;
}
main select {
	font-size: 16px;
	padding: 5px;
}
main button {
	font-size: 16px;
	padding: 5px 10px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
main button:hover {
	background-color: #444;
}
main #horarios {
	margin-top: 20px;
}

/* Estilos para el pie de página */
footer {
	background-color: #ccc;
	padding: 10px;
	text-align: center;
}
footer p {
	margin: 0;
	font-size: 14px;
}